<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">


	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../static/script/main.js"></script>

	<link rel="stylesheet" href="./static/css/stylesheet.css">

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<!-- <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
</head>
<body>
<div class="container">
	<div class="header">
		<ul class="nav nav-pills pull-right" style="padding-top: 15px">
			<li class="{{ hasNotifications }}"><a href='#myModal' data-toggle="modal"><i class="glyphicon glyphicon-envelope" style="font-size: 1.5em"></i></a></li>
			<li class="active"><a href="#">{{ username }}</a></li>
			<li><a href="/logout/">Sign out</a></li>
		</ul>
		<img src="../static/img/logo.png" style="margin-left: -40px">
	</div>
	<div class="shareBox">
		<br>
		<div class="modify">
			<h3>Add user to share with</h3>
			<ul class="nav nav-list">
				<li class="divider"></li>
			</ul>
			<form class="form-horizontal" action="/share/" method="post" style="margin-top: -30px; max-width: 730px;">{% csrf_token %}
				{{ form.as_p }}
				<br></br>
				<div class="form-group" style="padding-left: 15px">
					<label class="sr-only" for="shareID">SharedID</label>
					<input type="text" name="shareID" class="form-control" placeholder="User ID">
				</div>
				<h5>Preferences</h5>
				<div class="form-group" style="padding-left: 15px">
					<label class="sr-only" for="time">Number of Uses</label>
					<input type="text" name="time" class="form-control" placeholder="Number of Uses">
				</div>
				<div class="form-group" style="padding-left: 15px">
					<label class="sr-only" for="time">Time Limit</label>
					<input type="text" name="timeLimit" class="form-control" placeholder="Time Limit">
					<div class="input-group-btn">
				        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="margin-top: -34px; margin-left: 667px;">Select <span class="caret"></span></button>
				        <ul class="dropdown-menu" style="margin-left: 667px;">
				          <li><a href="#">Hours</a></li>
				          <li><a href="#">Days</a></li>
				          <li><a href="#">Unlimited</a></li>
				        </ul>
				         <input type="hidden" name="category" class="category">
				      </div><!-- /btn-group -->
				</div>
				<label for="mySubmit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add User</label>
    			<input id="mySubmit" type="submit" value="Go" class="hidden" />
			</form>  
		</div>
		<br></br>
		<div class="details">
			{% if givenAccess %}
			<h4>People I've shared with: </h4>
			<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>User</th>
							<th>Status</th>
							<th>Usage Left</th>
						</tr>
					</thead>
					<tbody>
						{% for user in givenAccess %}
						<tr>
							<td>
								<form class="form-horizontal" action="/delete/" method="post">
									<input type="hidden" name="username" value="{{ user.username }}"/>
								    <label for="delete" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i> Delete User</label>
			    					<input id="delete" type="submit" value="Delete" class="hidden" /> 
		    					</form>
		    				</td>
							<td>{{ user.username }}</td>
							<td>{{ user.status }}</td>
							<td>{{ user.time }}</td>
<!-- 							<td>{{ user.status }}</td> -->
							
						</tr>
						{% endfor %}	
					</tbody>
				<!-- <form class="form-horizontal" action="/delete/" method="post">
					<ul style="list-style-type: none; margin-left: -40px">
						{% for user in givenAccess %}
						<li>
							{{ user.username }}
							<input type="hidden" name="username" value="{{ user.username }}"/>
						    <label for="delete" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i> Delete User</label>
	    					<input id="delete" type="submit" value="Delete" class="hidden" />  
						</li>
						{% endfor %}
					</ul>
				</form> -->
			</table>
			{% endif %}
			{% if receievedAccess %}
			<h4>People that have shared with me: </h4>
			<table class="table">
					<thead>
						<tr>
							<th>User</th>
							<th>Status</th>
							<th>Usage Left</th>
						</tr>
					</thead>
					<tbody>
						{% for user in receivedAccess %}
						<tr>
							<td>{{ user.username }}</td>
							<td>**STATUS**</td>
							<td>**USAGE**</td>
<!-- 							<td>{{ user.status }}</td> -->
						</tr>
						{% endfor %}	
					</tbody>
				<!-- <form class="form-horizontal" action="/delete/" method="post">
					<ul style="list-style-type: none; margin-left: -40px">
						{% for user in givenAccess %}
						<li>
							{{ user.username }}
							<input type="hidden" name="username" value="{{ user.username }}"/>
						    <label for="delete" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i> Delete User</label>
	    					<input id="delete" type="submit" value="Delete" class="hidden" />  
						</li>
						{% endfor %}
					</ul>
				</form> -->
			</table>
			{% endif %}
		</div>
	</div>

	<br></br>

	<div class="row">
		<span class="span3" style="position: absolute; margin-left: -15px">
			<h4> <img src="../static/img/gmaps.png">  Closest Locations </h4>
		</span>
		<span class="span4" style="width: 500px; margin-left: 280px">
			<iframe width="500" height="700" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=bixi&amp;aq=&amp;sll=43.655764,-79.37974&amp;sspn=0.057565,0.132093&amp;gl=ca&amp;ie=UTF8&amp;hq=bixi&amp;hnear=&amp;t=m&amp;ll=43.655764,-79.37974&amp;spn=0.057565,0.132093&amp;output=embed"></iframe><br />
		</span>
		<br></br>
		<span class="span3" style="position: absolute; margin-left: 15px; margin-top: -700px">
			<h4> A. YouLock </h4>
			<p>372 Bay St, Toronto, ON M5H 2W9</p>
			<p>YouLock.com</p>

			<h4> B. YouLock </h4>
			<p>141 Bay St, Toronto, ON M5J 1J5</p>
			<p>YouLock.com</p>

			<h4> C. YouLock </h4>
			<p>260 College St, Toronto, ON M5T 1R7</p>
			<p>YouLock.com</p>

			<h4> D. YouLock </h4>
			<p>23 Fort York Blvd, Toronto, ON M5V 3Z2</p>
			<p>YouLock.com</p>

			<h4> E. YouLock </h4>
			<p>334 Bloor St W, Toronto, ON M5S 1W9</p>
			<p>YouLock.com</p>

			<h4> F. YouLock </h4>
			<p>54 E Liberty St, Toronto, ON M6K 3R1</p>
			<p>YouLock.com</p>

			<h4> G. YouLock </h4>
			<p>81 St Clair Ave E, Toronto, ON M4T 1M7</p>
			<p>YouLock.com</p>

		</span>
		

	</div>


	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	 <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Share Request</h4>
	      </div>
	      <div class="modal-body">
	        The user {{ shareUser }} would like to share their ID with you. 
	      </div>
	      <form class="form-horizontal" action="/shareAccept/" method="post">
		      <div class="modal-footer">
		      	<input type="hidden" name="accept" value="true"/>
		      	<label for="accept" class="btn btn-success">Accept</label>
    			<input id="accept" type="submit" value="Accept" class="hidden" />  
		        <button type="button" class="btn btn-danger">Reject</button>
		      </div>
		  </form>
	    </div>
	  </div>
	</div>
</div> <!-- /container -->
     

</body>
</html>
